<footer>
    <div class="f-info">
        <div class="socials">
            <img src="/hotelphotos/instagram_4138124.png" alt="">
            <img src="/hotelphotos/communication_15047435.png" alt="">
            <img src="/hotelphotos/linkedin_3536505.png" alt="">
        </div>
        <div>&copy;SwaadServe Private Limited</div>
        <div class="f-con">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>