<footer>
    <div class="f-info">
        <div class="socials">
            <img src="/hotelphotos/bg-5ff67481-cf1c-4e52-a476-50328356aaf4.png" alt="">
            <img src="/hotelphotos/bg-60752745-af05-48df-86f1-75b87e583bac.png" alt="">
            <img src="/hotelphotos/linkedin_353650.png" alt="">
        </div>
        <div>&copy;SwaadServe Private Limited</div>
        <div class="f-con">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>