<style>
    .mobilescrnav{
        display: none;
    }
    .mobilescrnav ul li img{
    padding: 0 0 0 0;
    height: 32px;
    width: 32px;
}

@media only screen and (max-width: 431px) {
    body{
        max-width: 430px;
        min-height: 932px;
    }
    .mobilescrnav{
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        border: 1px solid black;
        height: 80px;
        width: 100%;
        text-align: center;
        background-color: aliceblue;
        z-index: 1000;
    }
    .mobilescrnav ul{
      list-style: none;
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;
    }
    .secondnavmn ul{
      padding: 8px 20px;
    }
    .mobilescrnav ul li a{
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        list-style: none;
        padding: 5px 10px;
        justify-content: space-between;
        color: black;
    }
  }

</style>
<% if(currentpage.slice(0,17)!="/waiter/takeorder"){ %>
<nav class="mobilescrnav">
    <ul>
      <li><a href="/hotel/home"><img src="/hotelphotos/bg-ebea4233-a28b-447e-a6d2-9001ebd81ef8.png" alt="">Home</a></li>
      <li><a href="/hotel/services"><img src="/hotelphotos/bg-76f4c8d6-89e1-4465-a560-898e24ce6694.png" alt="">Services</a></li>
      <li><a href="/waiter/placeorder"><img src="/hotelphotos/bg-1abcefb8-64e1-4a5d-8d47-8784b13a8ca9.png" alt="">Take Order</a></li>
      <li><a href="/kitchen/myservings"><img src="/hotelphotos/bg-18a36030-174b-45cb-9ac5-33788d79889b.png" alt="">MyServings</a></li>
    </ul>
</nav>
<% }else{ %>
  <nav class="mobilescrnav secondnavmn">
    <ul>
      <li onclick="showmenu()"><a><img src="/hotelphotos/bg-7143e9d1-7862-449d-9e9b-91716037d291.png" alt="">AddItems</a></li>
      <% if(order){ %>
      <li class="show-order-btn" data-order-id="<%= order._id %>"><a><img src="/hotelphotos/bg-7a3b5007-48df-494d-873a-ad2f053625cc.png" alt="">EditOrder</a></li>
      <li><a href="/hotel/payment/bill/<%= order._id %>"><img src="/hotelphotos/bg-9e75e68c-fe8b-43b3-8d16-4644bb9e2799.png" alt="">CreateBill</a></li>
      <% } %>
    </ul>
</nav>
<% } %>


