<style>
  /* Navbar styling */
.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #5a5a5a;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #28a745;
}

.dropdown-toggle {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
}

.dropdown-menu {
    min-width: 180px;
}

.dropdown-item:hover {
    background-color: #e9ecef;
}


</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signup">SignUp</a>
          </li>
          <li class="nav-item">
            <div class="dropdown mt-1">
              <a class="btn btn-success btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu me-40">
                <li><a class="dropdown-item" href="/managerlogin">Manager Login</a></li>
                <li><a class="dropdown-item" href="/waiterlogin">Waiter Login</a></li>
              </ul>
            </div>
            <!-- <a class="nav-link active" aria-current="page" href="/login">Login</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>