<% layout('/layout/boilerplate') -%>
<link rel="stylesheet" href="/css/index.css">


<div class="top">
  <div class="toptitle">
    <h1>SwaadServe</h1>
    <button class="signinbtn"><a href="/signup">Sign Up</a></button>
  </div>

  <div class="topmiddle">
    <img
      class="topimg"
      src="/hotelphotos/bg-4d2cc5f2-17ae-477b-81e2-cb67cb69afad.png"
      alt=""
    />

    <div class="topinfo">
      <h1>
        Streamline Your Restaurant Operations <br />
        with Our Management System
      </h1>
      <p class="topinfop">
        Manage waiters, menus, and table orders effortlessly. Our system
        optimizes order assignments for smooth, efficient service.
      </p>
      <span>Explore More </span>
      <br><br>
      <button class="signinbtn"><a href="/login">Login</a></button>
    </div>
  </div>
</div>

<!-- Information Boxes Section -->
<div class="info-boxes">
  <div class="info-box1">
    <div class="box">
      <img
      class="boximages"
      src="/hotelphotos/bg-eb466c9d-0edf-4207-9b5e-1aa571ed038f.png"
      alt=""
    />
      <h2 class="screenwidth">About Our System</h2>
      <p class="screenwidth">
        Our restaurant management platform is designed for restaurant
        owners, providing a complete solution to manage orders and table
        services without any cost. Enhance efficiency and focus on quality
        service with our user-friendly system.
      </p>
    </div>
    
  </div>

  <div class="info-box2">
    <img
      class="boximages"
      src="/hotelphotos/bg-b518ad8b-0fe2-419d-939d-9fcba4aa97d7.png"
      alt=""
    />

    <div class="box">
      <h2 class="screenwidth">How It Works</h2>
      <p class="screenwidth">
        Waiters take orders based on table numbers, and orders are then
        assigned randomly to waiters to ensure even distribution. Each
        waiter has access to view their assigned orders directly through
        their dedicated login route.
      </p>
    </div>
  </div>

  <div class="info-box3">
    <div class="box">
      <img
      class="boximages"
      src="/hotelphotos/bg-08c262f1-ef76-455e-a26a-281c03a172fb.png"
      alt=""
    />
      <h2 class="screenwidth">Get Started for Free</h2>
      <p class="screenwidth">
        Restaurant owners can create their account and set up their menu and
        staff information effortlessly. Enjoy a seamless order management
        experience that keeps your staff organized and your customers
        satisfied.
      </p>
    </div>
    
  </div>
</div>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide laptopscreen"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/hotelphotos/diliara-garifullina-3dylswQC4MY-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/hotelphotos/the-nix-company-J5wrhsSPN9o-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/hotelphotos/ambitious-studio-rick-barrett-QjUY7auDzUQ-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide mobilescreen"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/hotelphotos/pylyp-sukhenko-y-XZf_TNRms-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/hotelphotos/lefteris-kallergis-NQZiQxuIyFk-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/hotelphotos/bimo-luki-mwHzM7qB7vk-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>