<% layout('/layout/boilerplate') -%>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/hotelphotos/brooke-lark-gRzsb3H_WV0-unsplash.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/hotelphotos/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/hotelphotos/kate-townsend-hEC6zxdFF0M-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>