body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1519.2px;
}
html{
  scroll-behavior: smooth;
}

.container{
    min-height: 100vh;
    max-width: 1519.2px;
    padding: 0;
    flex: 1;
}

  .top {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, -12.4), transparent),
      url(/hotelphotos/daniel-deiev-mVzujj_aF2o-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
  }
  .toptitle {
    display: flex;
    height: 77px;
    justify-content: space-evenly;
    align-items: center;
  }

  .topmiddle {
    display: flex;
    position: absolute;
    top: 200px;
    left: 450px;
    text-align: center;
  }
  .topinfo {
    width: 650px;
  }
  .topimg {
    margin-top: -40px;
    height: 300px;
    width: 300px;
  }
  .topinfop {
    font-weight: 100;
    font-size: 20px;
  }
  .topinfo span {
    font-size: 24px;
  }
  .info-boxes {
    padding: 20px;
    background-color: #fed700;
  }
  .info-box1,
  .info-box3 {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .info-box2{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .info-box2 img{
   margin: 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: inherit;
    border-radius: 10px;
    width: 30%;
    margin-right: 30px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  }
  .signinbtn a {
    text-decoration: none;
    color: black;
  }
  .signinbtn {
    padding: 0;
    height: 30px;
    width: 80px;
    background-color: #fed700;
    border-radius: 10px;
    border: none;
  }
  .carousel {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0px;
  }
  .w-100 {
    height: 100vh !important;
    width: 100% !important;
  }
  .boximages {
    margin: 0 auto;
    background-color: transparent;
    height: 200px;
    width: 200px;
    padding: 0;
    position: relative;
    top: -20px;
  }
  .laptopscreen{
      display: flex;
    }
  .mobilescreen{
    display: none;
  }

  @media only screen and (max-width: 431px) {

    .toptitle {
      top: 20px;
      position: relative;
      height: 38px;
    }
    .toptitle h1 {
      font-size: 19px;
    }
    .signinbtn {
      padding: auto;
      height: 32px;
      width: 100px;
      font-size: 14px;
    }
    .topmiddle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: inherit;
      left: 0;
      top: 15vh;
      text-align: center;
    }
    .info-box1,
    .info-box2,
    .info-box3 {
      display: flex;
      flex-direction: column;
    }
    .boximages{
      height: 180px;
      width: 180px;
      margin: 0 auto;
    }
    .info-box2 img {
      margin: 0 auto;
    }

    .topinfo {
      position: none;
      margin: 0 auto;
      width: 350px;
    }
    .topimg {
      display: block;
      margin: 0px auto;
      height: 220px;
      width: 243px;
    }
    .topinfo h1 {
      font-size: 19px;
    }
    .topinfo p {
      font-weight: 100;
      font-size: 21px;
    }
    .topinfo span {
      font-size: 15px;
    }
    .carousel {
      position: absolute;
      width: 100%;
      height: 250px;
      top: 100vh;
    }
    .w-100,
    .carouimag2 {
      height: 250px !important;
      width: 430px;
    }
    .info-boxes {
      display: flex;
      flex-direction: column;
      margin-top: 245px;
    }

    .box {
      width: 100%;
    }
    .mobilescreen{
      display: flex;
    }
    .laptopscreen{
      display: none;
    }
  }

  @media only screen and (max-width: 376px) {
    .carousel {
      position: absolute;
      width: 101%;
      height: 250px;
      top: 100vh;
    }
    .topmiddle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: inherit;
      left: 0;
      top: 15vh;
      text-align: center;
    }
  .topinfo h1 {
    font-size: 20px;
}
  .topinfo p {
    font-weight: 100;
    font-size: 16px;
  }
  .screenwidth {
    width: 332px;
}
.boximages {
  height: 160px;
  width: 160px;
  margin-left: 86px;
}
  }