<% layout('/layout/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
      <h1>Creating New Account</h1>
      <form method="POST" action="/signupform/<%= id %>" novalidate class="needs-validation" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label for="title" class="form-label">Enter Hotel Name</label>
          <input type="text" name="manager[hotelname]" class="form-control" placeholder="Enter Hotel Name" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Enter Owner Name </label>
          <input type="text" name="manager[ownername]"class="form-control" placeholder="Enter Owner Name " required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Enter Ph.NO.</label>
            <input type="number" name="manager[phno]"class="form-control" placeholder="Enter Ph.NO." required>
            <div class="invalid-feedback">Please enter a valid Price</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Enter Total No. of section</label>
          <input type="number" id="totalsections" name="manager[totalsection]" class="form-control" placeholder="Enter total Sections" required>
          <div class="invalid-feedback">Please enter this field</div>
      </div>
      <br>
      <div id="inputform2"></div>

        <br>
        <button class="btn btn-primary btn-decor">Submit</button>
      </form>
    </div>
  </div>
  <script src="/js/dynamicfield.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  

