<% layout('/layout/boilerplate2') -%>
<h2>Showing Menu Card</h2>
<ul class="list-group col-6 offset-3">
  <li class="list-group-item active" aria-current="true">An active item</li>

  <li class="list">
      <span>VegNoodles</span>
      <span>120</span>
  </li>
  <li class="list">
      <span>VegNodsfgsfdodles</span>
      <span>120</span>
  </li>
  <li class="list">
      <span>VegNoofgsdfgdles</span>
      <span>120</span>
  </li>
</ul>