<% layout('/layout/boilerplate2') -%>

    <div class="row">
      <div class="col-8 offset-2">
        <h1>Adding Menu card</h1>
        <form method="POST" action="/services" novalidate class="needs-validation" enctype="application/x-www-form-urlencoded">

            <select name="menu[item]" class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Select Collection Type</option>
                <option  value="Starters">Starters</option>
                <option  value="Soups">Soups</option>
                <option  value="Main">Main Course</option>
                <option  value="Breads">Breads</option>
                <option  value="Rice">Rice and Biryani</option>
                <option  value="Chinese">Chinese</option>
              </select>

          <div class="mb-2">
            <label for="title" class="form-label">Enter Food Name</label>
            <input type="text" name="menu[foodname]" class="form-control" placeholder="Enter Food Name" required>
            <div class="invalid-feedback">Enter Food Name</div>
          </div>
          <div class="mb-2">
            <label for="title" class="form-label">Enter Food Price</label>
            <input type="number" name="menu[foodprice]" class="form-control" placeholder="Enter Food Price" required>
            <div class="invalid-feedback"></div>
          </div>
          <br>
          <button class="btn btn-primary btn-decor">Submit</button>
        </form>
      </div>
    </div>
