<% layout('/layout/boilerplate2') -%>

<h1>Showing Services</h1>
<div class="services-cards row offset-1">
      <a class="col textdec" href="/kitchen/showmenucard">
        <div class="card showmenucard" style="width: 18rem;">
            <i class="fa-solid fa-utensils service-card-img"></i>
            <div class="card-body">
              <h5 class="card-title">Show Menu Card</h5>
            </div>
        </div>
      </a>
        <a class="col textdec" href="/kitchen/addmenucardform">
        <div class="card addmenucard" style="width: 18rem;">
            <i class="fa-solid fa-book-open service-card-img"></i>
            <div class="card-body">
              <h5 class="card-title">Add MENU Card</h5>
            </div>
        </div>
        </a>
        <a class="col textdec" href="/kitchen/kitchenstatus">
        <div class="card currentstatus" style="width: 18rem;">
            <i class="fa-solid fa-kitchen-set service-card-img"></i>
            <div class="card-body">
              <h5 class="card-title">Current Kitchen Status</h5>
            </div>
        </div>
      </a>
</div>
