<% layout('/layout/boilerplate2') -%>
<link rel="stylesheet" href="/css/services.css">

  <h1 class="text-center servcetitl">Our Services</h1>
  <div class="services-cards row justify-content-center text-center">
    <a class="col-md-3 textdec serboxes" href="/kitchen/showmenucard">
      <div class="card shadow-lg showmenucard">
        <i class="fa-solid fa-utensils service-card-img text-primary"></i>
        <div class="card-body">
          <h5 class="card-title">Show Menu Card</h5>
        </div>
      </div>
    </a>
    <a class="col-md-3 textdec serboxes" href="/kitchen/addmenucardform">
      <div class="card shadow-lg addmenucard">
        <i class="fa-solid fa-book-open service-card-img"></i>
        <div class="card-body">
          <h5 class="card-title">Add Menu Card</h5>
        </div>
      </div>
    </a>
    <a class="col-md-3 textdec serboxes" href="/hotel/addwaiter">
      <div class="card shadow-lg currentstatus">
        <img src="/hotelphotos/photo_11214277.png" alt="" height="56px" width="67.2px" style="margin: 20px auto;">
        <div class="card-body">
          <h5 class="card-title">Add Waiter</h5>
        </div>
      </div>
    </a>
  </div>

